body {
	margin: 0;
	padding: 0;
	text-align: center;
    background-color: #091921;
    font-family: 'Poppins', sans-serif;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 70%;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
}
.box{
    height: 30px;
    width: 140px;
    text-align: center;
    font-family: sans-serif;
    border-color: black;
    border: 2px;
}